body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.quiz-container {
    background: white;
    padding: 20px;
    width: 800px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.pregunta {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.resultado {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
